doctype html
html#thank-you(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Performance and SEO Audit | Blackbean
    meta(name='description', content='DESCRIPTION GOES HERE')
    link(rel='icon', href='images/favicon.ico', sizes='192x192')
    link(rel='stylesheet', href='stylesheets/base.css')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='javascripts/base.js')
    link(rel='stylesheet', href='https://use.typekit.net/nbs8wru.css')
    script(src='https://kit.fontawesome.com/ea6d83c55d.js', crossorigin='anonymous')
  body
    header
      section
        .container
          a.logo(href='https://blackbeanmarketing.com/', target='_blank')
            img(src='images/logo-white.svg', alt='Blackbean Industrial Marketing')
    section#about
      .container
        h1 Thank You for the Signup!
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac
          | turpis sapien. Duis ac dui nec libero rhoncus accumsan vitae ac
          | nulla.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          | ac turpis sapien. Duis ac dui nec libero rhoncus accumsan vitae ac
          | nulla.
        button.no-background
          a(href='/', alt='Get Started')
            | Back to Homepage
            i.fas.fa-angle-right
    footer
      section
        .container
          a.logo(target='_blank', href='https://blackbeanmarketing.com/')
            img(src='images/logo-white.svg', alt='Blackbean Industrial Marketing')