.container
    h1 PART 2: ADA-COMPLIANCE ISSUES
    p 
        |Over 38 million people are affected by poor web accessibility in the USA. Some are unable to use a mouse, 
        |others are visually impaired or suffer from seizures. In 2018, the Department of Justice confirmed 4 
        |Amendments to extend the laws of Americans with Disabilities Act (ADA) from the physical world to the 
        |digital and Web world. If you didn’t know about this, don’t worry, you’re not alone!
    h2 Why it matters 
    p It is your responsibility as an organization to make sure your website is ADA compliant or you might open yourself to potential legal issues.
    p 
        strong Your website may feature one or more ADA compliance issues, which could make your site less accessible to those using screen readers and other accessibility devices.
        |You can click the descriptions of each issue to get more info about how to resolve it. 
        |Don’t see any issues? Congratulations! Your site has no obvious accessibility issues. For any issues found, 
        |we provide you with the exact code so you don’t have to look around for it.